<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLfJkHjN5rh2lupKVh_TrEjcAk77t5WII</string>
	<key>GCM_SENDER_ID</key>
	<string>520392663248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bambaraLearn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bambaralearn</string>
	<key>STORAGE_BUCKET</key>
	<string>bambaralearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520392663248:ios:043162399c3501f5adbed5</string>
</dict>
</plist>